%meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=utf-8"}
%meta{"name"=>"keywords", "content"=> t('meta_keywords')}
%meta{"name"=>"description", "content"=> t('meta_description')}
%meta{"name"=>"bitly-verification", "content"=>"2fd481c11760"}
= csrf_meta_tag
= javascript_include_tag 'sm2/berniecode-animator', 'application'
= stylesheet_link_tag 'application'
%link{:href=>"http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin&v1", :rel=>'stylesheet', :type=>'text/css'}
%link{:href=>"http://fonts.googleapis.com/css?family=Indie+Flower&v1", :rel=>'stylesheet', :type=>'text/css'}
%link{:rel=>"icon", :sizes=>"16x16", :href=>"/images/icons/favicon.gif"}
/[if lt IE 9]
	= stylesheet_link_tag "ie"
	%script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
%title= t('title')