!!! 5
%html
	%head
		= render 'shared/header'
	%body
		%section
			%header
				= render "shared/logo"
				= render "shared/wtf"
				= link_to t('twitter.name') ,t('twitter.url'), :title=>t('twitter.title'), :class=>"twitter"
			= yield