!!! 5
= render 'shared/bender'
%html
	%head
		= render 'shared/header'
	%body
		%section
			%header
				.page-margin
					= render "shared/logo"
					= render "shared/wtf"
					= link_to t('twitter.name') ,t('twitter.url'), :title=>t('twitter.title'), :class=>"twitter"
					= render "<g:plusone size='medium' href='http://geekbox.ru'></g:plusone>"
			= yield
		= render 'shared/analitika'